player-connection-mode=Listen
player-connection-guid=208535424
player-connection-debug=0
player-connection-project-name=ShapeRise Arena
player-connection-ip=192.168.12.138
player-connection-ip=192.168.56.1
player-connection-ip=172.26.80.1
player-connection-ip=172.24.208.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=bd2cfbe50705412aa13c1c4df4df4a5d
